[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
gunicorn = "*"
decorator = "*"
brotlipy = "*"
gevent = "*"
Flask < "2.3.0"
meinheld = "*"
werkzeug = ">=0.14.1"
six = "*"
flasgger = "0.9.7b2"
pyyaml = {git = "https://github.com/yaml/pyyaml.git"}

[dev-packages]
rope = "*"
